<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <popup>
            <general>
                <enable>1</enable>
            </general>
        </popup>
        <product_carousel>
            <general>
                <enable>1</enable>
            </general>
            <configuration>
                <new_product_conf>12</new_product_conf>
                <best_sellers_conf>12</best_sellers_conf>
            </configuration>
        </product_carousel>
    </default>
</config>